{% extends 'base.html.twig' %}

{% block title %}Hello parcours page !{% endblock %}

{% block body %}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Mon parcours professionnel</h2>
          <p>Vous trouverez mon parcours professionel et mes formations.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <h3 class="resume-title">Formation</h3>
            <div class="resume-item">
              <h4>Titre de développeur web et web mobile (Bac +2)</h4>
              <h5>Novembre 2020 à mars 2021</h5>
              <p><em>Ecole     
              <a
                href="https://www.wf3.fr"
                target="_blank"
              >
                WebForce3
              </a>
              à Paris 18 avec l'association
              <a
                href="https://socialbuilder.org/"
                target="_blank"
              >
                Social Builder 
              </a></em></p>
                <div>
                    Formation développeur web et web mobile en 3 mois et demi, preparation du "Titre
                    de developpeur web et mobile" (RNCP Bac+2), apprentissage :
                    <ul>
                        <li>HTML / CSS</li>
                        <li>Javascript</li>
                        <li>Angular (Ionic)</li>
                        <li>Wordpress</li>
                        <li>PHP 7</li>
                        <li>Framework Symfony 5</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
            <div class="resume-item">
              <h4>Formation développeur full-stack Javascript</h4>
              <h5>Septembre 2018 à février 2019</h5>
              <p><em>
              Ecole 
              <a
                href="https://www.wildcodeschool.com/fr-FR"
                target="_blank"
              >
                Wild Code School
              </a>
               à Paris 5</em></p>
                <div>
                Formation de développeur full-stack JavaScript en 5 mois et demi, apprentissage du code :
                <ul>
                    <li>HTML / CSS</li>
                    <li>React</li>
                    <li>Node</li>
                    <li>MySQL</li>
                </ul>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Experience professionel</h3>
            <div class="resume-item">
              <h4>Stage développeuse web </h4>
              <h5>Mars à Septembre 2021</h5>
              <p><em>
                 <a
                href="https://www.cmantika.com/"
                target="_blank"
              >
                Astraga ( CMANTIKA - HORS LIGNE )
              </a>
              à Guérande (44)</em></p>
              <p>
              <ul>
                <li>Front-end : Wordpress / Drupal 8 & JavaScript</li>
                <li>Back-end : PHP & framework Symfony 3/4/5</li>
                <li>Mobile : Android Studio</li>
                <li>Serveur : OVH (plesk)</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Développeuse full-stack Javascript</h4>
              <h5>Octobre 2019 - mars 2020</h5>
              <p><em>   
              <a
                href="https://www.stackerine.com/"
                target="_blank"
              >
                STACKERINE
              </a>
              , Sarcelles (95)</em></p>
              <p>
              <div>
              Formation interne :
              <ul>
                <li><h5>Front-end : </h5>
                Javascript -
                React / hooks / Redux / styled-components -
                VueJs -
                TypeScript
                </li>
                <li> <h6>Back-end : </h6>
                NodeJs (express) -
                Postgres -
                MongoDB -
                SQL -
                GraphQL & Appollo</li>
             
                <li>DevOps :
                Docker / circleCI</li>
              </ul>
            </div>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
  <div id="preloader"></div> 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> 
{% endblock %}
